.App {
	padding: 12px;
	min-height: 150%;
	padding-bottom: 80px;
}

/* from https://github.com/Semantic-Org/Semantic-UI-CSS/issues/40 */
/* Semantic UI modal position fix */
/* .ui.active.dimmer.modals.transition {
    display: flex !important;
    display: -ms-flexbox !important;
} */
